@model List<GetAuthorByBlogIdResponse>
@foreach (var x in Model)
{
    <div class="about-author d-flex p-4 bg-light">
        <div class="bio mr-5">
            <img src="@x.AuthorImageUrl" alt="Image placeholder" class="img-fluid mb-4">
        </div>
        <div class="desc">
            <h3>@x.AuthorName</h3>
            <p>@x.AuthorDescription</p>
        </div>
    </div>
}
