@model List<ResultAboutResponse>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Hakkımda Listesi</h4>
                        <p class="card-subtitle mb-4">
                            Hakkımda ile ilgili yapılabilecek işlemler buradan yapılabilir.
                        </p>
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>Başlık</th>
                                        <th>Açıklama</th>
                                        <th>Görsel Url</th>
                                        <th>Sil</th>
                                        <th>Güncelle</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var x in Model)
                                    {
                                        <tr>
                                            <td>@x.Title</td>
                                            <td>@x.Description</td>
                                            <td>@x.ImageUrl</td>
                                            <td><a href="/Admin/AdminAbout/RemoveAbout/@x.AboutId" class="btn btn-outline-danger">Sil</a></td>
                                            <td><a href="/Admin/AdminAbout/UpdateAbout/@x.AboutId" class="btn btn-outline-warning">Güncelle</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <td><a href="/Admin/AdminAbout/CreateAbout/" class="btn btn-outline-primary">Yeni Hakkımda Girişi</a></td>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
