@model List<ResultAuthorResponse>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}
<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Yazar Listesi</h4>
                        <p class="card-subtitle mb-4">
                            Yazar ile ilgili yapılabilecek işlemler buradan yapılabilir.
                        </p>
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Yazar Adı</th>
                                        <th>Sil</th>
                                        <th>Güncelle</th>
                                        <th>Yazarın Blogları</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var x in Model)
                                    {
                                        count++;
                                        <tr>
                                            <td>@count</td>
                                            <td><img src=@x.ImageUrl width="50" height="50" style="margin-right:10px"/>@x.Name</td>
                                            <td><a href="/Admin/AdminAuthor/RemoveAuthor/@x.Id" class="btn btn-outline-danger">Sil</a></td>
                                            <td><a href="/Admin/AdminAuthor/UpdateAuthor/@x.Id" class="btn btn-outline-warning">Güncelle</a></td>
                                            <td><a href="/Admin/AdminAuthor/UpdateAuthor/@x.Id" class="btn btn-outline-warning">Bloglar</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <td><a href="/Admin/AdminAuthor/CreateAuthor/" class="btn btn-outline-primary">Yeni Yazar Girişi</a></td>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
