@model List<ResultCategoryResponse>
<div class="sidebar-box ftco-animate">
    <div class="categories">
        <h3>Kategoriler</h3>
        @foreach (var x in Model)
        {
            <li><a href="#">@x.Name <span>(0)</span></a></li>
        }
    </div>
</div>