@model List<ResultTagCloudByBlogIdResponse>

<div class="sidebar-box ftco-animate">
    <h3>Etiketler</h3>
    <div class="tagcloud">
        @foreach (var x in Model)
        {
            <a href="#" class="tag-cloud-link">@x.Title</a>
        }
    </div>
</div>

